@page "/management"
@layout ManageLayout

<h3>校园BBS后台管理系统</h3>
<Divider />
<Row ItemsPerRow="ItemsPerRow.Three">
    <Card>
        <BodyTemplate>
            <h5 class="card-title">用户管理</h5>
            <p class="card-text">用户创建、用户名修改、密码修改、删除等操作</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </BodyTemplate>
    </Card>
    <Card>
        <BodyTemplate>
            <h5 class="card-title">帖子管理</h5>
            <p class="card-text">帖子创建、编辑、删除、类型更改等操作</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </BodyTemplate>
    </Card>
    <Card>
        <BodyTemplate>
            <h5 class="card-title">数据统计</h5>
            <p class="card-text">用户量、发帖量等数据统计面板</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </BodyTemplate>
    </Card>
</Row>
@code {

}
