@page "/management"
@layout ManageLayout

<h3>校园BBS后台管理系统</h3>
<Divider />
<Row ItemsPerRow="ItemsPerRow.Three">
    <Card>
        <BodyTemplate>
            <h5 class="card-title">用户管理</h5>
            <p class="card-text">用户创建、用户名修改、密码修改、删除等操作</p>
            <a href="usermanage" class="btn btn-primary">前往 用户管理</a>
        </BodyTemplate>
    </Card>
    <Card>
        <BodyTemplate>
            <h5 class="card-title">帖子管理</h5>
            <p class="card-text">帖子编辑、删除、类型更改等操作</p>
            <a href="postmanage" class="btn btn-primary">前往 帖子管理</a>
        </BodyTemplate>
    </Card>
    <Card>
        <BodyTemplate>
            <h5 class="card-title">回复管理</h5>
            <p class="card-text">对用户回帖内容编辑、删除等操作</p>
            <a href="replymanage" class="btn btn-primary">前往 回复管理</a>
        </BodyTemplate>
    </Card>
    <Card>
        <BodyTemplate>
            <h5 class="card-title">数据统计</h5>
            <p class="card-text">用户量、发帖量等数据统计面板</p>
            <a href="statistics" class="btn btn-primary">前往 数据统计</a>
        </BodyTemplate>
    </Card>
</Row>
@code {

}
