@page "/postmanage"
@layout ManageLayout

<h3>PostManage</h3>
<Divider/>

<Table TItem="BindItem" IsPagination="true"
       IsStriped="true" IsBordered="true" IsMultipleSelect="true" AutoGenerateColumns="true"
       ShowToolbar="true" ShowExtendButtons="true" ShowSkeleton="true">

</Table>
@code {

}
