@page "/usermanage"
@layout ManageLayout

<h3>UserManage</h3>
<Divider />

<Table TItem="BindUserItem" IsPagination="true"
       IsStriped="true" IsBordered="true" IsMultipleSelect="true" AutoGenerateColumns="true"
       ShowToolbar="true" ShowExtendButtons="true" ShowSkeleton="true">
</Table>
@code {

}
